/*
Theme Name: Freshly Cut
Author: Star Verte LLC
Description: Child Theme of Flint.
Version: 0.1.3a
License: GPLv3
License URI: LICENSE.md
Tags:
Template: flint
Template Version: 1.6.0

    Copyright 2013  Star Verte LLC  (email : info@starverte.com)
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import url('../flint/style.css');
@import 'https://fonts.googleapis.com/css?family=Passion+One';

/* =Global
----------------------------------------------- */
body {
  padding-top: 0;
  background-color: #0d3e57 !important;
}


/* =Header
----------------------------------------------- */
#masthead {
  background: #5d9fc1;
}
.site-branding a {
  color: #ffffff!important;
}
.site-branding a:hover {
}


/* =Content
----------------------------------------------- */

.interior .row {
  background: #fff;
}
.home #primary {
  margin-top: 0;
  margin-bottom: 0;
}


/* =Media
----------------------------------------------- */


/* =Navigation
----------------------------------------------- */

.home .navbar {
  margin-bottom: 0;
}
.navbar-cerulean {
  background-color: #0076a8;
  border-color: #005275;
}
.navbar-cerulean .navbar-brand {
  color: rgba(255,255,255,0.6);
}
.navbar-cerulean .navbar-brand:hover,
.navbar-cerulean .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-cerulean .navbar-text {
  color: rgba(255,255,255,0.6);
}
.navbar-cerulean .navbar-nav > li > a {
  color: rgba(255,255,255,0.6);
}
.navbar-cerulean .navbar-nav > li > a:hover,
.navbar-cerulean .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-cerulean .navbar-nav > .active > a,
.navbar-cerulean .navbar-nav > .active > a:hover,
.navbar-cerulean .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #005275;
}
.navbar-cerulean .navbar-nav > .disabled > a,
.navbar-cerulean .navbar-nav > .disabled > a:hover,
.navbar-cerulean .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-cerulean .navbar-toggle {
  border-color: #333333;
}
.navbar-cerulean .navbar-toggle:hover,
.navbar-cerulean .navbar-toggle:focus {
  background-color: #333333;
}
.navbar-cerulean .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-cerulean .navbar-collapse,
.navbar-cerulean .navbar-form {
  border-color: #005d84;
}
.navbar-cerulean .navbar-nav > .open > a,
.navbar-cerulean .navbar-nav > .open > a:hover,
.navbar-cerulean .navbar-nav > .open > a:focus {
  background-color: #005275;
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #005275;
  }
  .navbar-cerulean .navbar-nav .open .dropdown-menu .divider {
    background-color: #005275;
  }
  .navbar-cerulean .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(255,255,255,0.6);
  }
  .navbar-cerulean .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-cerulean .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #005275;
  }
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-cerulean .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-cerulean .navbar-link {
  color: rgba(255,255,255,0.6);
}
.navbar-cerulean .navbar-link:hover {
  color: #ffffff;
}
.navbar-cerulean .btn-link {
  color: rgba(255,255,255,0.6);
}
.navbar-cerulean .btn-link:hover,
.navbar-cerulean .btn-link:focus {
  color: #ffffff;
}
.navbar-cerulean .btn-link[disabled]:hover,
fieldset[disabled] .navbar-cerulean .btn-link:hover,
.navbar-cerulean .btn-link[disabled]:focus,
fieldset[disabled] .navbar-cerulean .btn-link:focus {
  color: #444444;
}
.navbar-cerulean {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}



/* =Comments
----------------------------------------------- */



/* =Widgets
----------------------------------------------- */


/* =Forms
----------------------------------------------- */

.contact {
  background: #b8d5e4;
}
.contact h2 {
  background: #5d9fc1;
  padding: 15px;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  color: #fff;
  font-weight: bold;
}
.contact-form {
  color: #333;
  color: rgba(0, 0, 0, 0.8);
}
.contact-form input,
.contact-form textarea {
  width: 100% !important;
  border-radius: 0;
}
.contact-form label span {
  color: #aaa;
  color: rgba(0, 0, 0, 0.33) !important;
}
.contact-submit input {
  color: #fff;
  background: #00b243;
  border-color: #03a23c;
}
.contact-submit input:active,
.contact-submit input:hover {
  color: #fff;
  background: #03a23c;
  border-color: #03a23c;
}

/* =Footer
----------------------------------------------- */


/* =Front Page
----------------------------------------------- */

.home .splash {
  max-height: 350px;
  overflow: hidden;
  margin-left: -15px;
}
.home .splash img {
  margin-top: -210px;
  padding-top: 0;
  padding-bottom: 0;
}
.home .testimonial {
  background: #146087;
  color: #fff;
}
.home .testimonial {
  color: #fff;
}
.home .testimonial blockquote {
  font-size: 2em;
  border: 0;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home .testimonial blockquote:before,
.home .testimonial blockquote:after{
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
  font-family: 'Passion One', cursive;
  color: #fff;
  color: rgba(255,255,255,0.5);
}
.home .testimonial blockquote:before {
  content: '\201C';
  margin-right: 100%;
}
.home .testimonial blockquote:after {
  content: '\201D';
  margin-left: 95%;
}
.home .testimonial blockquote footer {
  color: #777;
  color: rgba(255,255,255,0.8);
  text-align: center;
}
.home .testimonial blockquote footer:before {
  content: none;
}
.services-left,
.services-right {
  margin-top: 15px;
}

